@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

:root{
    --green: rgb(52, 87, 50);
    --white: rgb(245, 245, 245);

    --bg: var(--green);
    --text: var(--white);

    --ff-base: 'Poppins', sans-serif;
    --ff-logo: 'Kenia', sans-serif;

    --fs-nav: 1.5rem;
    --fs-nav-logo: 3rem;

    --fs-acc-logo: 6rem;
    --fs-acc-sub: 2rem;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role='list'] {
  list-style: none;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin:0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
  border: none;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a{
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
    font-family: var(--ff-base);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--bg);
    color: var(--text);
}

.header__logo{
    font-family: var(--ff-logo);
    font-weight: 400;
    font-size: var(--fs-nav-logo);
}

.header__nav-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav-link{
    color: var(--text);
    font-size: var(--fs-nav);
}

.header__nav-link:hover{
    color: var(--text);
    text-decoration: underline;
}

.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60rem;
    color: var(--text);
    padding: 3rem;
    gap: 2rem;
    background-image: linear-gradient(0deg, rgba(2,0,36,0.5) 0%, rgba(52,87,50,0.8) 100%), url("./assets/infos/bg-accueil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.accueil__logo{
    font-family: var(--ff-logo);
    font-weight: 400;
    font-size: var(--fs-acc-logo);
}

.accueil__subtitle{
    font-weight: 700;
    font-size: var(--fs-acc-sub);
    text-wrap: wrap;
    text-align: center;
}

.accueil__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}

.accueil__btn{
    
    background-color: var(--text);
    font-size: var(--fs-acc-sub);
    font-weight: 700;
    color: var(--green);
    padding: .5rem 1.5rem;
    border-radius: 5px;

}

.accueil__btn:hover{
    cursor: pointer;

    box-shadow: 0 0 20px 10px var(--white);
}

.accueil__btn:hover::after{
    content: '➜';
    padding-left: 1rem;
}


@media (min-width: 768px) {
    .header{
        padding: 1rem 6rem;
        flex-direction: row;
    }

    .header__nav-list{
        gap: 3rem;
    }

    .accueil{
        gap: 3rem;
    }

    .accueil__list{
        gap: 1rem;
    }
}



